body {
  background: linear-gradient(180deg, rgba(255, 253, 253, 0.77) 0%, rgba(84, 76, 76, 0.45) 100%);
  background-attachment: fixed;
  text-align: center;
}

.banner {
  margin-bottom: 50px;
}
label[for="location"]{
  display: none;
}

select {
  background: none;
  margin-bottom: 40px;
  margin-left: 100px;
  width: 220px;
  border: none;
  font-size: 24px;
  letter-spacing: 0.045em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  cursor: pointer;
}

input[type=date] {
  width: 200px;
  height: 55px;
  padding: 12px 30px;
  margin-top: 30px;
  font-size: 20px;
  display: block;
  border: 1px solid black;
  background: none;
  box-sizing: border-box;
  letter-spacing: 0.045em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: grey;
  margin: 10px 10px 5px 0;
  margin-left: 50px;
  cursor: pointer;
}


label {
  font-size: 24px;
  letter-spacing: 0.045em;
  font-weight: 300;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  margin-left: 50px;
  float: left;

}

input[type=number] {
  width: 200px;
  height: 55px;
  padding: 12px 30px;
  font-size: 20px;
  display: block;
  border: 1px solid black;
  background: none;
  box-sizing: border-box;
  letter-spacing: 0.045em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  margin: 20px 10px 5px 0;
  margin-left: 50px;
}

input[type=submit] {
  width: 200px;
  height: 55px;
  background-color: #312E2E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.045em;
  color: #AAA1A1;
}

input[type=email] {
  width: 200px;
  height: 55px;
  padding: 12px 30px;
  font-size: 20px;
  display: block;
  border: 1px solid black;
  background: none;
  box-sizing: border-box;
  letter-spacing: 0.045em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  margin: 20px 10px 5px 0;
  margin-left: 50px;
}

input[type=text] {
  width: 200px;
  height: 55px;
  padding: 12px 30px;
  font-size: 20px;
  display: block;
  border: 1px solid black;
  background: none;
  box-sizing: border-box;
  letter-spacing: 0.045em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  margin: 20px 10px 5px 0;
  margin-left: 50px;
}